/* First container with image styling */
.container-about{
    position: relative;
}
.background-image img{
    width: 100%;
    height: auto;
}  
 .textover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display:flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.textover
 h4{
    padding: 10px;
    flex-basis: 70%;
}

/* Second container with image and table */
.container-about-opening{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.aboutImg{
    flex-basis: 50%;
}
img{
    width: 100%;
    height: auto;
}
.table{
    flex-basis: 50%;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    text-align: center;
    font-family:"Montserrat", sans-serif;
}
table,
td,
th{
    border: 2px solid black;
    border-collapse: collapse;
}

@media only screen and (max-width: 576px) {
.aboutImg{
    flex-basis: 100%; 
} 
.table{
    flex-basis: 100%;
}
}
@media only screen and (max-width:768px){
.textover
h4{
    flex-basis: 80%;
}
}
@media only screen and (max-width: 1000px){
.background-image{
    display: none;
} 
.textover{
    position: relative;
    background-image:  url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    color: white;
    padding-top: 10px;
     padding-bottom: 10px;
}
}





