
/* About navbar styling*/
.navivation.sticky-top{
    position: sticky;
}

.navigation{
    background-color: #696969;
    padding:15px;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 600;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 2px;
}

.navstyle{
    text-decoration: none;
    color: white;
} 

.navstyle:hover{
    color: black;
} 

/* Main container styling */

.container-fluid{
    background-image: url(https://images.pexels.com/photos/942803/pexels-photo-942803.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    ;
}


/* Footer styling */
.row.footer{
    background-color: #696969;
    padding:30px;
    text-align: center;
}
.fa{
    color:white;
    margin-left: 10px;
}
.fa:hover{
    color: black;
}
.col-lg-4{
    color:white;
    font-family:"Montserrat", sans-serif;
    font-size: 20px; 
}
.col-lg-4:hover{
    color: black;
}

