@import 'navbar-footer.css';
@import 'style.css';
/* Contact page background style */
  body {
    background-image: url(../images/contactimage.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    overflow-x: hidden;
  }
  /* Contact page forms style */
    h4{
     font-family:"Montserrat", sans-serif;
     background-color:#696969; 
     width: 100%; 
     color: white;
     padding:30px;
     text-align: center;
     letter-spacing: 1px;
  }
  .container-contact{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heading{
    flex-direction: row;
  }
  .feedback, 
  .booking{
    flex-direction: row;
    color:white;
    flex-basis: 70%;
    margin: 4%;
    font-family: "Montserrat", sans-serif;
  }
  .feedback{
    margin-top:0;
  }
  
@media only screen and (max-width: 576px){
  .container-contact{
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 768px){
.container-contact{
  flex-wrap: wrap;
}
.feedback, 
.booking{
  flex-basis: 60%;
  }
}

    

    
    
  

  

 

  


    