/* This is image and text styling */
.main-container{
background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
background-size: cover;
}
.top-container, .bottom-container{
    display:flex;
    align-items: center;
}
.image-top, .image-bottom{
    flex-basis: 50%;
    flex-grow: 0;
    border: 6px solid #696969;
}
.textRight, .textLeft{
   flex-basis: 50%; 
   color:white; 
   font-family: "Montserrat", sans-serif; 
   text-align: center;
}
.image-top img, .image-bottom img{
    width: 100%;
    height: auto;
}
.moto{
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .image-top, .image-bottom, .textRight, .textLeft{
        flex-basis: 100%;
    }
    h1{
        font-size: 20px;

    }
    .top-container, .bottom-container{
       flex-wrap: wrap;
    }
    #logo img{
        width: 50px;
        height: 50px;
    }
    #logo{
        flex-basis: 20%;
    }
    .title{
        flex-basis: 70%;
    }
    .title p{
        font-size: 10px;
    }
    .address{
        display: none;
    }
}

/* Footer styling */
.row.footer{
    background-color: #696969;
    padding:10px;
    text-align: center;
}
.fa{
    color:white;
    margin-left: 10px;
}
.fa:hover{
    color: black;
}
.col-lg-4{
    color:white;
    font-family:"Montserrat", sans-serif;
    font-size: 20px; 
}
.col-lg-4:hover{
    color: black;
}

