@import 'header-navbar-footer.css';
/* Body style */
body{
    overflow-x: hidden;
}
.row{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
/* Top image and header style */
.header-image-container{
    display: flex;
    border: 8px solid #696969;
    align-items: center;
}
.top-img img{
    width: 100%;
    height: auto;
}
.heading{
  text-align: center;
  flex-basis: 50%; 
  letter-spacing: 3px;
  color: #696969;
  font-family: "Chango", sans-serif;
}
img{
    width: 100%;
    height: auto;
}
.top-img{
    width: 100%;
    height: auto;
}
/* Container with drinks images and drinks */
.hot-container,
.cold-container,
.alcoholic-container,
.bubble-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-hot, 
.dropdown-cold, 
.dropdown-alcoholic, 
.dropdown-bubble{
    flex-basis: 50%;
    text-align: center;
    padding: 20px;
    color: #696969;
    margin-top: 30px;
    font-family:"Montserrat", sans-serif; 
}
h4{
    text-decoration: underline;
    font-family:"Chango", sans-serif;
    font-size: 30px;
}
p{
    font-family:"Montserrat", sans-serif ;
    font-size: 25px;
}
.firstimg, 
.secondimg, 
.thirdimg, 
.forthimg{
    flex-basis: 50%;
    border: 8px solid #696969;
}

@media only screen and (max-width: 768px) {
    .hot-container, 
    .cold-container, 
    .alcoholic-container, 
    .bubble-container{
        flex-wrap: wrap;
    }
    .firstimg, 
    .secondimg, 
    .thirdimg, 
    .forthimg{
        flex-basis: 100%;
    }
    .cold-container, 
    .bubble-container{
        flex-direction: column-reverse;
    }
}
@media only screen and (max-width: 576px){
    .heading h1{
        font-size: 16px;
    }
    .cold-container, 
    .bubble-container{
        flex-direction: column-reverse;
    }
}


    
