/* This is a navbar style */
.row{
    font-family: "Montserrat", sans-serif; 
    font-size: 25px;
    background-color: #696969;
    font-weight: 600;
    padding: 15px;
    letter-spacing: 2px;
    text-align: center;
}
 
.navstyle{
    text-decoration: none;
    color: white;
}

.navstyle:hover{
    color: black;
}

body{
    background-image: url(https://images.pexels.com/photos/531873/pexels-photo-531873.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-repeat: no-repeat;
}