@import 'header-navbar-footer.css';
/* Body style */
body{
    overflow-x: hidden;
}
.row{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* myVideo styling */
.hero{
    width: 100%;
    height: 85vh;
    position: relative;
    overflow: hidden;
}
#myVideo{
    object-fit: cover;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    position: relative;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
.video-line-top{
    position: absolute;
    top: 65px;
    left: 105px;
    font-family:"Chango", sans-serif; 
    color:white;
    font-size: 30px;
}
.video-line-bottom{
    position: absolute;
    top: 110px;
    left:50px;
    font-family:"Chango", sans-serif; 
    color: white;
    font-size: 30px;
}
/* Container with image and text styling */
.main-container{
    background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}
.top-container, 
.bottom-container{
    display:flex;
    align-items: center;
}
.image-top, 
.image-bottom{
    flex-basis: 50%;
    flex-grow: 0;
    border: 6px solid #696969;
}
.textRight, 
.textLeft{
    flex-basis: 50%; 
    color:white; 
    font-family: "Montserrat", sans-serif; 
    text-align: center;
}
.image-top img, 
.image-bottom img{
    width: 100%;
    height: auto;
}
.moto{
    text-decoration: underline;
}  
    
@media only screen and (max-width:768px){
.video-line-top{
    top:45px;
    left: 22px;
}
.video-line-bottom{
    top: 90px;
    left: 35px;
}
}
@media only screen and (max-width:640px){
.video-line-top{
    top:45px;
    left: 22px;
}
.video-line-bottom{
    top: 90px;
    left: 35px;
}
}
    
@media only screen and (max-width: 576px){
.video-line-top{
    top:23px;
    left:30px;
    font-size: 20px;
} 
.video-line-bottom{
    top:70px ;
    left:30px;
    font-size: 20px;
} 
.image-top, 
.image-bottom, 
.textRight, 
.textLeft{
    flex-basis: 100%;
}
h1{
    font-size: 25px;
}
.top-container, 
.bottom-container{
    flex-wrap: wrap;
}
}

   








